/*--------------------------------MOBILE*/
/*
.calendar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}*/

#calhead, #month {
  display: block;
  width: 100%;
  margin: 5%;
  margin-left: 6%;
}

#calhead {
  color: #0B1942;
}

.calbox {
  width: 100%;
  background-color: #0B1942;
  padding-bottom: 8%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.week {
  flex: 1 0 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.day {
  flex: 0 1 14%;
  height: 14%;
  background-color: #fff;
  border: 1px solid #0B1942;
}

.day p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 50%;
  padding: 6%;
  height: 50%;
  width: 50%;
  background-color: #0B1942;
  color: #fff;
  text-align: center;
  font-size: 0.7rem;
  font-family: sans-serif;
  line-height: 1.2rem;

}

.pink {
  background-color: #F5005B;
}
