/*Color Bank:
text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF*/

/*font-family: 'PT Sans', sans-serif;*/

/*Breakpoints
S = up to 544px
M = up to 768px
L = over 769px*/

/*--------------------------------MOBILE*/

* {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  color: #0B1942;
}

h1 {
  font-size: 3rem;
  font-weight: lighter;
  color: #fff;
}

h2 {
  font-size: 3rem;
  font-weight: lighter;
}

p, li {
  font-size: 2.3rem;
}

a {
  font-size: 2.3rem;
  color: #00B7D3;
}

/*------------------HEADER/FOOTER*/

header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 0 auto;
}

#logo {
  flex: 1 1 28%;
  background-color: #F5005B;
  padding: 1%;
}

#logo img {
  display: block;
  object-fit: contain;
  width: 90%;
  height: 95%;
  padding: 5%;
}

nav {
  flex: 1 1 75%;
  text-align: center;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

nav a {
  flex: 1 1 33%;
  margin: 0 auto;
  padding: 4% 0 8.4% 0;
  width: 100%;
  height: 38.33px;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

nav a:nth-child(1) {
  background-color: #00A5BF;
}

nav a:nth-child(2) {
  background-color: #00B7D3;
}

nav a:nth-child(3) {
  background-color: #00D5E7;
}

footer {
  background-color: #6FE1E7;
}

footer p {
  padding: 4% 0 9.4% 0;
  margin: 0 auto;
  width: 100%;
  height: 38.33px;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

/*------------------HOME BODY*/

.involved {
  margin: 0 auto;
  padding: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.involved div h2 {
  background-color: #0B1942;
  color: #fff;
  padding: 2%;
  padding-left: 4%;
}

/*------------------HOME UPNEXT*/

.next, .largefilm, .smallfilms {
  margin: 0 auto;
}

.next {
  padding: 0% 5% 5% 5%;
  background-color: #0B1942;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.largefilm {
  flex: 2 0 100%;
  padding: 3%;
  background-color: #fff;


  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

#rasho {
  flex: 1 1 50%;
  padding: 2%;
}

#rasho img {
  object-fit: contain;
}

.rashotext {
  flex: 1 1 50%;
  margin: 2% 2% 2% 5%;
  padding: 2%;
}

.largetitle {
  display: block;
  border-bottom: 1px solid #000;
}

.discussion {
  display: block;
}

.discussion h4 {
  font-size: 2.3rem;
}

.discussion li {
  list-style: circle;
  text-indent: 1rem;
  line-height: 3rem;
}
