/*Color Bank:
text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF*/

/*font-family: 'PT Sans', sans-serif;*/

/*Breakpoints
S = up to 544px
M = up to 768px
L = over 769px*/

* {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  color: #0B1942;
}

h1 {
  font-size: 2rem;
  font-weight: lighter;
  color: #fff;
}

h2 {
  font-size: 1.5rem;
  font-weight: lighter;
}

p, li {
  font-size: 1rem;
}

a {
  font-size: 1rem;
  color: #00B7D3;
}

/*------------------HEADER/FOOTER*/

header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 0 auto;
  background-color: #7DDFE8;
}

#logo {
  flex: 1 0 30%;
  background-color: #F5005B;
  padding: 1%;
}

#logo img {
  display: block;
  object-fit: contain;
  width: 90%;
  padding: 5%;
}

nav {
  flex: 0 1 69%;
  text-align: center;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

nav a {
  flex: 1 1 33%;
  margin: 0 auto;
  padding: 4% 0 8.4% 0;
  width: 100%;
  height: 38.33px;
  color: #fff;
  font-weight: lighter;
  text-decoration: none;
}

nav a:nth-child(1) {
  background-color: #00A5BF;
}

nav a:nth-child(2) {
  background-color: #00B7D3;
}

nav a:nth-child(3) {
  background-color: #00D5E7;
}

footer {
  background-color: #6FE1E7;
  font-size: 1rem;
}

footer p {
  padding: 4% 0 9.4% 0;
  margin: 0 auto;
  width: 100%;
  height: 38.33px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}






/*--------------------------------TABLET*/
/*is window smaller than 768px?*/

@media screen and (min-width: 768px) and (max-width: 768px) {
  /*------------------HEADER/FOOTER*/

  header {
    height: 7.6%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 0 auto;
  }

  #logo {
    flex: 0 1 15%;
  }


  nav {
    flex: 0 1 86%;
    text-align: center;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
  }

  nav a {
    flex: 0 1 15%;
    margin: 0;
    padding: 6% 4% 8.4% 4%;
    height: 100%;
  }

  footer p {
    position: relative;
    bottom: 75px;
    width: 25%;
    float: right;
    padding: 0;
    font-size: 1rem;
    text-align: center;
  }

}





/*--------------------------------DESKTOP*/

@media screen and (min-width: 769px){
  /*------------------HEADER/FOOTER*/

  header {
    height: 7.6%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 0 auto;
  }

  #logo {
    flex: 0 1 15%;
  }


  nav {
    flex: 0 1 92%;
    text-align: center;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
  }

  nav a {
    flex: 0 1 15%;
    margin: 0;
    padding: 6% 4% 8.4% 4%;
    height: 100%;
  }

  footer p {
    position: relative;
    bottom: 97px;
    width: 25%;
    float: right;
    padding: 0;
    font-size: 1rem;
    text-align: center;
  }

}
